body {
    font-weight: bolder;
    background-color: #036 !important;
    color: #e0e0e0 !important;
}

#camara,
#resultado {
    margin: 0 auto;
    width: 360px;
    height: 250px;
    border: 1px dotted white;
    background-size: 360px 250px;
    border-radius: 20px;
}

#camara {
    background-image: url(webcam.jpg);
}

#resultado {
    background-image: url(resultado.jpg);
}

#logo_img {
    width: 150px;
    border-radius: 50%;
}

#textbox {
    width: 300px;
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    height: 55px;
    font-size: 20px;
    vertical-align: top;
    border-color: #0d6efd;
}

.form-group{
    display: inline-block;
    vertical-align: middle;
}

.instrucciones{
    color: cyan;
}